{{- $opSignedIn := false -}}
{{- if lookPath "op" -}}
{{-   $accounts := output "op" "account" "list" "--format=json" | fromJson -}}
{{-   if $accounts -}}
{{-     $opSignedIn = true -}}
{{-   end -}}
{{- end -}}

[onepassword]
mode = "account"

[[textconv]]
pattern = "**/*.plist"
command = "plutil"
args = ["-convert", "xml1", "-o", "-", "-"]

[git]
autoPush = false
autoCommit = false

[data]
{{- if $opSignedIn }}
name = {{ onepasswordRead "op://Private/Dotfiles data/name" | quote }}
email = {{ onepasswordRead "op://Private/Dotfiles data/email" | quote }}
signingKey = {{ onepasswordRead "op://Private/Dotfiles data/signing-key" | quote }}
githubUser = {{ onepasswordRead "op://Private/Dotfiles data/github-user" | quote }}
{{- else }}
name = "pending 1password setup"
email = "pending 1password setup"
signingKey = "pending 1password setup"
githubUser = "pending 1password setup"
{{- end }}
