[".config/zsh/.zprezto"]
  type = "git-repo"
  url = "https://github.com/sorin-ionescu/prezto.git"
  refreshPeriod = "168h"
  [".config/zsh/.zprezto".clone]
    args = ["--recursive"]

[".config/tmux/.oh-my-tmux"]
  type = "archive"
  url = "https://github.com/gpakosz/.tmux/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".local/share/google-cloud-sdk"]
  type = "archive"
  url = "https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-cli-{{ .chezmoi.os }}-{{ if eq .chezmoi.arch "arm64" }}arm{{ else }}{{ .chezmoi.arch }}{{ end }}.tar.gz"
  exact = true
  refreshPeriod = "168h"
  stripComponents = 1
