{{- if eq .chezmoi.hostname "DoiT" -}}
[{"account_id":"VHBSNT4UEVADTDO772RID7V4HE","vault_id":"qpso7kf7i6mh5ydgelcchul6ha","item_id":"iaqj2qtuvalf5pntkh5c6m7dly"},{"account_id":"O4COZFKAJFDLHANJHDNJDVG324","vault_id":"mlug6kdcax52osg3ysodd4tfh4","item_id":"vn2g2aprqz6qfs3cuyzzrv2fzy"}]
{{- else -}}
[{"account_id":"O4COZFKAJFDLHANJHDNJDVG324","vault_id":"mlug6kdcax52osg3ysodd4tfh4","item_id":"vn2g2aprqz6qfs3cuyzzrv2fzy"},{"account_id":"VHBSNT4UEVADTDO772RID7V4HE","vault_id":"qpso7kf7i6mh5ydgelcchul6ha","item_id":"iaqj2qtuvalf5pntkh5c6m7dly"}]
{{- end }}
