# zshrc (interactive shells)

# https://github.com/sorin-ionescu/prezto/issues/2103
# Add homebrew-installed package completions to fpath
if command -v brew > /dev/null; then
    fpath+=$(brew --prefix)/share/zsh/site-functions
fi

if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# Indicate when inside a chezmoi shell (chezmoi cd)
if [[ -n "$CHEZMOI" ]]; then
  PROMPT="%F{yellow}[chezmoi]%f ${PROMPT}"
fi

# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Do not share history between screen tabs:
unsetopt sharehistory

alias -- +x='chmod +x'
alias vim=nvim

# Google Cloud Completions
if [[ -f "$XDG_DATA_HOME/google-cloud-sdk/completion.zsh.inc" ]]; then
  source "$XDG_DATA_HOME/google-cloud-sdk/completion.zsh.inc"
fi

alias curl='noglob curl'
alias youtube-dl='noglob youtube-dl'

# intel homebrew:
alias brow='arch --x86_64 /usr/local/Homebrew/bin/brew'

# 1password https://developer.1password.com/docs/cli/get-started/#shell-completion
if (( $+commands[op] )); then
  eval "$(op completion zsh)"; compdef _op op
  source ${XDG_CONFIG_HOME}/op/plugins.sh
fi

# fnm
if (( $+commands[fnm] )); then
  eval "$(fnm env --use-on-cd --shell zsh)"
fi

# zoxide
if (( $+commands[zoxide] )); then
  eval "$(zoxide init zsh)"
fi

alias acme.sh="${XDG_CONFIG_HOME}/acme.sh/acme.sh --home ${XDG_CONFIG_HOME}/acme.sh/"
alias acme='acme.sh --home "$XDG_CONFIG_HOME"/acme.sh/'
# $. "{{ .chezmoi.homeDir }}/.acme.sh/acme.sh.env"
#
alias wget="wget --hsts-file=$XDG_DATA_HOME/wget-hsts"

alias lzd='lazydocker'
alias lzg='lazygit'
alias lg='lazygit'

# all terminal windoes have their own session but shared windows share the same session.
tmux-shared() {
  local base=shared
  local view="view-${TTY:t}"   # zsh: :t = tail (basename)
  exec tmux new-session -A -s "$view" -t "$base"
}
